@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Lato&family=Open+Sans:wght@300&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.inner-headings {
  border: 0px solid white;
  height: 28px;
  line-height: 28px;
  font-size: 20px;
  overflow: hidden;
}

.inner-headings span {
  position: relative;
  animation: spin_words 12s ease infinite;
  animation-delay: 1s;
}

@keyframes spin_words {
  0%,
  100% {
    top: 0;
  }
  
  10% {
    top: -28px;
  }

  20% {
    top: -56px;
  }

  30% {
    top: -84px;
  }

  40% {
    top: -112px;
  }

  50% {
    top: -140px;
  }

  60% {
    top: -168px;
  }

  80% {
    top: -196px;
  }

  90% {
    top: -224px;
  }

}

#digitado {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: digitando 2s steps(30, end) forwards, piscando 0.5s infinite;
  border-right: 2px solid black;
  margin: 0 auto;
}

@keyframes digitando {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes piscando {
  0% {
    border-right-color: transparent
  }

  50% {
    border-right-color: black;
  }

  100% {
    border-right-color: transparent
  }
}